@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
.page {
  margin: 0 auto;
  min-width: 320px;
  position: relative;
}

.accent-blue {
  color: #3e9cdc;
}
.accent-blue__logo {
  color: #42a9ed;
}

.separator {
  color: #c3c3c3;
  margin: 0 41px;
  font-size: 18px;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}
.container_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.header {
  background: rgba(16, 16, 29, 0.9);
  position: fixed;
  left: 0;
  right: 0;
}
.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.18;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.header__nav-menu {
  list-style: none;
  display: flex;
  gap: 60px;
  padding: 0;
  margin: 0;
}
.header__nav-link {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.23;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  transition: opacity, color 0.7s;
}
.header__nav-link_active {
  color: #43abf0;
}
.header__nav-link:hover {
  color: #43abf0;
  opacity: 0.8;
}

.main {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background-image: url(../images/main.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 103px 0 203px;
  margin: 0;
}
.main__title {
  margin: 103px 0 80px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  text-transform: uppercase;
  max-width: 780px;
}
.main__text-heading {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
.main__text-list {
  padding: 0;
  list-style: none;
}
.main__text-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}
.main__text-paragraph::before {
  content: "-";
  padding: 10px;
  font-weight: 900;
}
.main__buttons {
  margin-top: 80px;
  display: flex;
  gap: 30px;
}
.main__button {
  box-sizing: border-box;
  text-decoration: none;
  padding: 15px 0;
  width: 183px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  transition: opacity 0.4s, transform 0.4s;
}
.main__button_type_order {
  background-color: #3e9cdc;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.main__button_type_detailed {
  background: #ffffff;
  border: 1px solid #6f6d7b;
  border-radius: 4px;
  color: #2a2b30;
}
.main__button:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.order {
  padding: 120px 0 151px;
  background-color: #272733;
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #ffffff;
}
.order__title {
  margin: 0 0 30px;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 119.4%;
  text-transform: uppercase;
}
.order__subtitle {
  margin: 0 0 80px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #bbbbbb;
}
.order__status {
  list-style: none;
  display: flex;
}
.order__card {
  width: 209px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #3e9cdc;
  border: 5px solid #286690;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 13px;
}
.order__circle_type_search {
  background-image: url(../images/order/search.svg);
}
.order__circle_type_percent {
  background-image: url(../images/order/percent.svg);
}
.order__circle_type_file {
  background-image: url(../images/order/file.svg);
}
.order__circle_type_mail {
  background-image: url(../images/order/mail.svg);
}
.order__circle_type_money {
  background-image: url(../images/order/money.svg);
}
.order__circle::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #c4c4c4;
  margin-right: 20px;
}
.order__card-title {
  margin: 20px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
}
.order__circle-wrapper {
  display: flex;
}
.order__dot {
  align-self: center;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #c4c4c4;
  margin-right: 20px;
}
.order__form {
  margin-top: 80px;
}
.order__input {
  padding: 12px 10px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #ffffff;
  border-radius: 3px;
  width: 365px;
  box-sizing: border-box;
  margin-right: 30px;
}
.order__input:nth-of-type(3) {
  margin: 0;
}
.order__input-range {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #ffffff;
}
.order__input-file {
  opacity: 0;
  visibility: hidden;
}
.order__file-img {
  width: 17px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.order__file-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
  width: 365px;
  padding: 12px 0;
  background: #ffffff;
  border: 2px solid #3e9cdc;
  border-radius: 3px;
  text-transform: uppercase;
  color: #272733;
}
.order__submit-btn {
  background: #3e9cdc;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 18px 0;
  text-transform: uppercase;
  color: #ffffff;
  width: 365px;
  box-sizing: border-box;
}

.footer {
  background: #3d4050;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  color: white;
}
.footer__copyright {
  margin: 0;
  font-weight: 400;
}
.footer__payment-methods {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.footer__payment-method {
  text-decoration: none;
  color: #c3c3c3;
  display: flex;
  gap: 10px;
  transition: opacity 0.5s;
}
.footer__payment-method:hover {
  opacity: 0.6;
}
.footer__connection {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.footer__connection-link {
  display: flex;
  text-decoration: none;
  gap: 10px;
  color: white;
  transition: opacity 0.5s;
}
.footer__connection-link:hover {
  opacity: 0.6;
}
.footer__list-item {
  margin-right: 38px;
}
.footer__list-item:nth-child(3) {
  margin: 0;
}
.footer__list-item:nth-of-type(5) {
  margin: 0;
}